html, body {
    margin: 0px;
    padding: 0px;
    font-family: open-sans, sans-serif;
    .flex-display(flex);
    min-height: 100vh;
    .flex-direction(column);
}

header {
    background: #5264AE;
    width: 100%;
    overflow: visible;
    padding: 25px 10px 0px 10px;
    margin: 0px auto;
    position: fixed;
    z-index: 50;

    img {
        float: left;
        margin: 0px 30px;
    }
    h1 {
        font-family:  open-sans, sans-serif;
        font-size: 30px;
        color: #fff;
        font-weight: lighter;
        margin: 0px;
    }
    nav {
        overflow: visible;
        margin-top: 35px;
        position: relative;
        ul {
            list-style-type: none;
            overflow: hidden;
            margin: 0px;

            &.nav-tabs {                
                overflow: hidden;
                li {
                    font-size: 15px;
                    width: 150px;
                    text-align: center;
                    font-weight: bold;
                    text-transform: uppercase;
                    
                    &.active {
                        border-bottom: 1px solid #f00;
                        background-color: transparent !important;
                        a {
                            color: #fff;
                        }
                    }
                    &:hover {
                        background-color: #97A2CE;
                        a {
                            color: #fff;
                        }
                    }

                    a {
                        color: #BAC1DF;
                        text-decoration: none;
                        padding: 8px 0px;
                        display: block;
                    }
                }
            }
            &.buttons {
                position: absolute;
                right: 30px;
                top: -15px;
                z-index: 100;
                li {
                    margin-right: 15px;
                    span {
                        display: block;
                        font-size: 12px;
                        text-align: center;
                        color: #BAC1DF;
                        text-transform: uppercase;
                        margin-bottom: 10px;
                    }
                }
            }

            li {
                float: left;
            }

            button {
                width: 50px;
                height: 50px;
                border: 0px;
                &.round {
                    background-color: #BAC1DF;
                    .border-radius(50px);
                    
                    &:hover {cursor: pointer; background-color: #97A2CE;}

                    &.btn-import {background-image: url(../images/icons.png);background-repeat: no-repeat; background-position: -51px 4px}
                    &.btn-export {background-image: url(../images/icons.png);background-repeat: no-repeat; background-position: 5px 5px;}
                    &.btn-help {background-image: url(../images/icons.png);background-repeat: no-repeat; background-position: -107px 5px;}
                }
            }
        }
    }
}

section {
    
    .flex(1);
    padding: 170px 10px 0px 10px;

    .tab-content {

        .tab-pane {
            display: none;
            &.active {
                display: block;
            }
        }

        .sidecar-table {
            width: 100%;

            thead {
                th {
                    font-size: 11px;
                    line-height: 15px;
                    color: #aaa;
                    font-weight: normal;
                    text-align: left;
                    padding: 0px 4px;
                    border-bottom: 1px solid #ececec;
                }
            }

            tbody {
                td {
                    vertical-align: top;

                    &.transparent {background: none;}
                    &.width-40 {width: 120px;}
                    &.width-60 {width: 180px;}
                    &.width-80 {width: 240px;}
                    &.width-120 {width: 410px;}

                    span {
                        display: block;
                        width: 100%;
                        margin-bottom: 5px;
                    }

                    .article_name {
                        color: #5264AE;
                        font-weight: 300;
                        font-size: 16px;
                        padding-top: 10px;
                    }
                }
                
                textarea, input[type="text"], select {
                    height: 40px;
                    overflow: hidden;
                    border: 0px;
                    width: 100%;
                    background: #ECECEC;
                    padding: 10px 10px 8px;
                    .box-sizing(border-box);
                    resize: none;
                    font-size: 12px;
                }
                input[type="checkbox"] {
                    display: none;
                }
                .checkbox-label {
                    cursor: pointer;
                    display: block;
                    background: #7F7F7F;
                    color: #fff;
                    font-weight: 600;
                    font-size: 16px;
                    text-align: center;
                    line-height: 40px;
                    width: 40px;
                    height: 40px;
                    
                    &:hover {
                        background: #aaa !important;
                    }
                    .checked {display: none;}
                    .unchecked {display: inline;}
                }
                input[type="checkbox"]:checked + .checkbox-label {
                    background: #97A2CE;
                    .checked {display: inline;}
                    .unchecked {display: none;}
                }

                input[type="radio"] {
                    cursor: pointer;
                    display: none;
                    & + label {
                        cursor: pointer;
                        display: block;
                        float: left;
                        width: 40px;
                        height: 40px;
                        background-color: #7F7F7F;
                        text-indent: -9999px;
                        background-image: url('../images/icons.png');
                        background-repeat: no-repeat;

                        &:hover { 
                            background-color: #aaa !important;
                        }

                        &.scroll-always {background-position: 0px -60px;}
                        &.scroll-portrait {background-position: -55px -60px;}
                        &.scroll-landscape {background-position: -110px -60px;}
                        &.scroll-never {
                            background-image: none;
                            display: block;
                            text-indent: 0px;
                            color: #fff;
                            text-align: center;
                            line-height: 40px;
                        }
                    
                        & + br {display: none;}
                    }
                    &:checked + label {
                        background-color: #97A2CE;
                    }
                }
            }
        }

        .output pre {
            width: 80%;            
            margin: 0px auto;
            background: #333333;
            color: #fff;
            line-height: 22px;
            font-size: 14px;
            font-family: source-code-pro, sans-serif;
            
            code {
                display: block;
                font-family: source-code-pro, sans-serif;
            }
            .line-number {
                float: left;
                background: #222;
                margin:0 1em 0 -1em;
                border-right:1px solid;
                text-align: right;
                display: block;

                span {
                    display: block;
                    padding:0 .5em 0 1em;
                }
            }
            .cl {
                display: block;
                clear: both;
            }
        }

        .buttons-set {
            margin-top: 20px;
        }

        button {
            width: 40px;
            height: 40px;
            border: 0px;
            text-indent: -9999px;            
            &:hover {cursor: pointer;}
            &.square {
                background-color: #5264AE;
                &.btn-add {
                  background-image: url(../images/icons.png);background-repeat: no-repeat; background-position: -156px 0px;
                  &:hover {background-color: #009245;}
                }
                &.btn-remove {
                  background-image: url(../images/icons.png);background-repeat: no-repeat; background-position: -204px 0px;
                  &:hover {background-color: #C1272D;}
                }
            }
        }
    }    
}

footer {
    background: #444444;
    min-height: 100px;
    margin-top: 30px;
}

.hidden {display: none;}
::-webkit-input-placeholder {color: #969696;font-family: open-sans, sans-serif;font-size: 13px;font-weight: 400;}
::-moz-placeholder {color: #969696;font-family: open-sans, sans-serif;font-size: 13px;font-weight: 400;}
::-moz-placeholder {color: #969696;font-family: open-sans, sans-serif;font-size: 13px;font-weight: 400;}
:-ms-input-placeholder {color: #969696;font-family: open-sans, sans-serif;font-size: 13px;font-weight: 400;}