html,
body {
  margin: 0px;
  padding: 0px;
  font-family: open-sans, sans-serif;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
header {
  background: #5264AE;
  width: 100%;
  overflow: visible;
  padding: 25px 10px 0px 10px;
  margin: 0px auto;
  position: fixed;
  z-index: 50;
}
header img {
  float: left;
  margin: 0px 30px;
}
header h1 {
  font-family: open-sans, sans-serif;
  font-size: 30px;
  color: #fff;
  font-weight: lighter;
  margin: 0px;
}
header nav {
  overflow: visible;
  margin-top: 35px;
  position: relative;
}
header nav ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0px;
}
header nav ul.nav-tabs {
  overflow: hidden;
}
header nav ul.nav-tabs li {
  font-size: 15px;
  width: 150px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
header nav ul.nav-tabs li.active {
  border-bottom: 1px solid #f00;
  background-color: transparent !important;
}
header nav ul.nav-tabs li.active a {
  color: #fff;
}
header nav ul.nav-tabs li:hover {
  background-color: #97A2CE;
}
header nav ul.nav-tabs li:hover a {
  color: #fff;
}
header nav ul.nav-tabs li a {
  color: #BAC1DF;
  text-decoration: none;
  padding: 8px 0px;
  display: block;
}
header nav ul.buttons {
  position: absolute;
  right: 30px;
  top: -15px;
  z-index: 100;
}
header nav ul.buttons li {
  margin-right: 15px;
}
header nav ul.buttons li span {
  display: block;
  font-size: 12px;
  text-align: center;
  color: #BAC1DF;
  text-transform: uppercase;
  margin-bottom: 10px;
}
header nav ul li {
  float: left;
}
header nav ul button {
  width: 50px;
  height: 50px;
  border: 0px;
}
header nav ul button.round {
  background-color: #BAC1DF;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
header nav ul button.round:hover {
  cursor: pointer;
  background-color: #97A2CE;
}
header nav ul button.round.btn-import {
  background-image: url(../images/icons.png);
  background-repeat: no-repeat;
  background-position: -51px 4px;
}
header nav ul button.round.btn-export {
  background-image: url(../images/icons.png);
  background-repeat: no-repeat;
  background-position: 5px 5px;
}
header nav ul button.round.btn-help {
  background-image: url(../images/icons.png);
  background-repeat: no-repeat;
  background-position: -107px 5px;
}
section {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 170px 10px 0px 10px;
}
section .tab-content .tab-pane {
  display: none;
}
section .tab-content .tab-pane.active {
  display: block;
}
section .tab-content .sidecar-table {
  width: 100%;
}
section .tab-content .sidecar-table thead th {
  font-size: 11px;
  line-height: 15px;
  color: #aaa;
  font-weight: normal;
  text-align: left;
  padding: 0px 4px;
  border-bottom: 1px solid #ececec;
}
section .tab-content .sidecar-table tbody td {
  vertical-align: top;
}
section .tab-content .sidecar-table tbody td.transparent {
  background: none;
}
section .tab-content .sidecar-table tbody td.width-40 {
  width: 120px;
}
section .tab-content .sidecar-table tbody td.width-60 {
  width: 180px;
}
section .tab-content .sidecar-table tbody td.width-80 {
  width: 240px;
}
section .tab-content .sidecar-table tbody td.width-120 {
  width: 410px;
}
section .tab-content .sidecar-table tbody td span {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}
section .tab-content .sidecar-table tbody td .article_name {
  color: #5264AE;
  font-weight: 300;
  font-size: 16px;
  padding-top: 10px;
}
section .tab-content .sidecar-table tbody textarea,
section .tab-content .sidecar-table tbody input[type="text"],
section .tab-content .sidecar-table tbody select {
  height: 40px;
  overflow: hidden;
  border: 0px;
  width: 100%;
  background: #ECECEC;
  padding: 10px 10px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  font-size: 12px;
}
section .tab-content .sidecar-table tbody input[type="checkbox"] {
  display: none;
}
section .tab-content .sidecar-table tbody .checkbox-label {
  cursor: pointer;
  display: block;
  background: #7F7F7F;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
}
section .tab-content .sidecar-table tbody .checkbox-label:hover {
  background: #aaa !important;
}
section .tab-content .sidecar-table tbody .checkbox-label .checked {
  display: none;
}
section .tab-content .sidecar-table tbody input[type="checkbox"]:checked + .checkbox-label {
  background: #97A2CE;
}
section .tab-content .sidecar-table tbody input[type="checkbox"]:checked + .checkbox-label .checked {
  display: initial;
}
section .tab-content .sidecar-table tbody input[type="checkbox"]:checked + .checkbox-label .unchecked {
  display: none;
}
section .tab-content .sidecar-table tbody input[type="radio"] {
  cursor: pointer;
  display: none;
}
section .tab-content .sidecar-table tbody input[type="radio"] + label {
  cursor: pointer;
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  background-color: #7F7F7F;
  text-indent: -9999px;
  background-image: url('../images/icons.png');
  background-repeat: no-repeat;
}
section .tab-content .sidecar-table tbody input[type="radio"] + label:hover {
  background-color: #aaa !important;
}
section .tab-content .sidecar-table tbody input[type="radio"] + label.scroll-always {
  background-position: 0px -60px;
}
section .tab-content .sidecar-table tbody input[type="radio"] + label.scroll-portrait {
  background-position: -55px -60px;
}
section .tab-content .sidecar-table tbody input[type="radio"] + label.scroll-landscape {
  background-position: -110px -60px;
}
section .tab-content .sidecar-table tbody input[type="radio"] + label.scroll-never {
  background-image: none;
  display: block;
  text-indent: 0px;
  color: #fff;
  text-align: center;
  line-height: 40px;
}
section .tab-content .sidecar-table tbody input[type="radio"] + label + br {
  display: none;
}
section .tab-content .sidecar-table tbody input[type="radio"]:checked + label {
  background-color: #97A2CE;
}
section .tab-content .output pre {
  width: 80%;
  margin: 0px auto;
  background: #333333;
  color: #fff;
  line-height: 22px;
  font-size: 14px;
  font-family: source-code-pro, sans-serif;
}
section .tab-content .output pre code {
  display: block;
  font-family: source-code-pro, sans-serif;
}
section .tab-content .output pre .line-number {
  float: left;
  background: #222;
  margin: 0 1em 0 -1em;
  border-right: 1px solid;
  text-align: right;
  display: block;
}
section .tab-content .output pre .line-number span {
  display: block;
  padding: 0 .5em 0 1em;
}
section .tab-content .output pre .cl {
  display: block;
  clear: both;
}
section .tab-content .buttons-set {
  margin-top: 20px;
}
section .tab-content button {
  width: 40px;
  height: 40px;
  border: 0px;
  text-indent: -9999px;
}
section .tab-content button:hover {
  cursor: pointer;
}
section .tab-content button.square {
  background-color: #5264AE;
}
section .tab-content button.square.btn-add {
  background-image: url(../images/icons.png);
  background-repeat: no-repeat;
  background-position: -156px 0px;
}
section .tab-content button.square.btn-add:hover {
  background-color: #009245;
}
section .tab-content button.square.btn-remove {
  background-image: url(../images/icons.png);
  background-repeat: no-repeat;
  background-position: -204px 0px;
}
section .tab-content button.square.btn-remove:hover {
  background-color: #C1272D;
}
footer {
  background: #444444;
  min-height: 100px;
  margin-top: 30px;
}
.hidden {
  display: none;
}
::-webkit-input-placeholder {
  color: #969696;
  font-family: open-sans, sans-serif;
  font-size: 13px;
  font-weight: 400;
}
::-moz-placeholder {
  color: #969696;
  font-family: open-sans, sans-serif;
  font-size: 13px;
  font-weight: 400;
}
::-moz-placeholder {
  color: #969696;
  font-family: open-sans, sans-serif;
  font-size: 13px;
  font-weight: 400;
}
:-ms-input-placeholder {
  color: #969696;
  font-family: open-sans, sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.hljs-comment {
  color: #29ABE2;
}
.hljs-pi {
  color: #39B54A;
}
.hljs-tag {
  color: #FBB03B;
}
.hljs-tag .hljs-title {
  color: inherit;
}
